/* cascading style sheet */

/* We could incoperate css in our website using the following methods

-->Inline - This is provinding prop in the same very line and it has the heighest priority
-->Internal - Using style tag which is located in the head
-->External - Use link tag to link our external style sheet

*/

/* Webscrapping - Extracting important data from some other website for the sake of our use is called using webscrapping  */

@media (min-width: 300px) and (max-width : 600px) {
    .main {
        background-color: red;
    }
}

#ooo > li {
   color: blue;
}


/*  Many element could have same class but diffrent elemnt could not have same id that is class is unnique but id arent  */
/* In style tag we right CSS */
/* css always require an semicolon(;) at the end of each property so as to ensure property break and start an new property */
/* Css selector */

/* Universal selector */

* {
    color: rgb(0, 0, 0);
}


/* Element Selector */
h1 {
    color: blue;
}

/* Decendant Selector */
/* That is one tag inside another not neccasery to be next to each other */
/* Here it mean that change the colour of all the list item present inside div tag */
/* here "div ol" will also work */

div li {
    color: pink;
}

/* Children Selector */

/* Here each tag should be next to each other , like div tag then just next tag should be the h1 tag after that next tag should be the span tag*/

/* Here it mean that change the color and font of all the span tag which is a children too the h1 tag and also the div is the grand parent to the span tag such that one tag should be the next to the other*/

div>h1>span {
    color: rgb(73, 255, 6);
    font-size: xx-large;
}

/* class selector */
.class1 {
    color: black;
}

.class2 {
    color: brown;
}

/* Multiple classes on same elements */
/* NO space in bewteen */
/* Any tag having both the classes (exclusive not allowed) will be following the below listed property ,Although order of property dont matter*/

.class3.class4 {
    color: chartreuse;
    font-style: italic;
}

/* Classes Decendant Selector */

.c1 span .c2 {
    color: green;
    font-size: xx-large;
}

/* Id selector ,id are unique , never use id for styling purposes instead use it for identification purposes #Industry rule*/

#one {
    color: darkorchid;
}

/* Attribute Selector */
/* Here single parenthesis is important */

input[type='button'] {
    /* input[type = 'button'] Here this will also work*/
    background-color: aqua;
}

input[value='Select me'] {
    /* input[type = 'button'] Here this will also work*/
    background-color: pink;
}

/* Combination */
#the-one>.c1.c2 {
    color: rgb(41, 230, 24);
}

#the-one#the-two {
    font-style: italic;
    text-decoration: underline;
}

.main {
    background-color: rgb(0, 0, 0);
}